*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    font-size: 1.2em;
}

nav i{
    padding: 24px;
}

p.hero-headline{
    font-size: 5.6em;
    font-weight: bold;
    padding-bottom: 12px;
    color: #212529;
}

p.hero-sub-headline{
    font-size: 1.6em;
    padding-bottom: 48px;
    color: #6c757d;
}

form#search-form{
    width: 400px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #495057; */
    border: 1px solid #adb5bd;

    border-radius: 4px;
}

form#search-form div.search-container{
    display: inline-block;
    flex-grow: 1;
    position: relative;

    border-radius: 4px;
}

form#search-form div.search-container input#username-input{
    padding: 16px;
    width: 100%;
    font-size: 1.05em;
    outline: none;
    
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

form#search-form div.search-container div.search-options{
    position: absolute;
    width: auto;
    border: 1px solid #adb5bd;
    border-radius: 8px;
    margin-top: 4px;
    display: none;
}

form#search-form div.search-container div.search-options p{
    padding: 16px;
    cursor: pointer;
    color: #212529;
    font-size: 1em;
}

form#search-form div.search-container div.search-options p:first-child{
    border-bottom: 1px solid lightgray;
}

form#search-form div.search-container div.search-options p:hover{
    color: #6c757d;
}

form#search-form div.search-container div.search-options p i{
    display: inline-block;
    margin-right: 12px;
    font-size: 0.8em;
}

form#search-form button#search-button{
    background-color: white;
    margin: 0px 16px;
    border-radius: 8px;
    font-size: 1em;

    color: #495057;
}

div.users-container{
    display: none;
}

.navigation{
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.navigation i {
    padding: 24px;
}

div.users p.section-title{
    padding: 48px;
    color: #6c757d;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #212529;
}

div.users div.user-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.users div.user-card{
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 250px;
}

div.users div.user-card img.user-image{
    display: inline-block;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
}

div.users div.user-card div.user-card-content{
    padding: 0px 12px 16px 12px;
    background-color: white;
    border-radius: 8px;
}

div.users div.user-card div.user-card-content p.user-name{
    font-size: 1em;
    text-align: center;
    padding: 16px 0px;
}

div.users div.user-card div.user-card-content div.follow-extra{
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.users div.user-card div.user-card-content div.follow-extra p.follow-detail{
    font-size: 1em;
    text-align: center;
    color: #6c757d;
    flex-grow: 1;
    margin-bottom: 24px;
}

div.users div.user-card div.user-card-content div.user-extra a.user-button{
  display: block;
  text-align: center;
  padding: 8px 0px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  text-decoration: none;
  border: 1px solid rgb(194, 194, 194);
}

div.users div.user-card div.user-card-content div.user-extra a.user-button:first-child{
    margin-bottom: 8px;
}

div.users div.user-card div.user-card-content div.user-extra a.user-button:hover{
    background-color: rgb(47, 47, 47);
    color: white;
    border: 1px solid rgb(47, 47, 47);
}